<!DOCTYPE html />
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <%= stylesheet_link_tag 'main' %>
    </head>
    <body>
        <main class="container edit-container forgot-container">
          <header>
            <h2 class="fade">
              Forgot your password?
            </h2>
          </header>

          <div class="main-content centered fade">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="actions">
                <%= f.submit "Resend me password instructions" %>
                <small><em>Password reset will be sent to your email</em></small>
              </div>
            <% end %>
            <div class="forgot-password-links">
              <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
              <% end %>
            </div>
          </div>
        </main>

        <%= javascript_include_tag 'main' %>
        <%= javascript_include_tag 'background-video' %>

        <script>
          function animate (selector, className, delay) {
            setTimeout(() => document.querySelector(selector).classList.add(className), delay)
          }

          animate('.edit-container', 'animated', 500);
          animate('header h2', 'slide-up-fade-in', 800);
          animate('.main-content', 'slide-up-fade-in', 1000);
        </script>
    </body>
</html>